---
import { Icon } from "astro-icon/components"
---

<div class="flex flex-col md:flex-row p-5 bg-gray-700 text-white">
    <div class="flex-1 flex justify-center md:justify-start mb-5 md:mb-0">
        <div class="text-xl">Five of a Kind</div>
    </div>
    <div class="flex-1 flex justify-center">
        <div class="flex mx-auto">
            <a href="https://www.facebook.com/profile.php?id=61570025699842" target="_blank" rel="noopener noreferrer">
                <Icon name="facebook" class="text-2xl mx-5" />
            </a>
            <a href="https://www.instagram.com/fiveofakindbrass/" target="_blank" rel="noopener noreferrer">
                <Icon name="instagram" class="text-2xl mx-5" />
            </a>
            <a href="https://www.youtube.com/@JustinPrivitera" target="_blank" rel="noopener noreferrer">
                <Icon name="youtube" class="text-2xl mx-5" />
            </a>
            <a href="https://soundcloud.com/five-of-a-kind" target="_blank" rel="noopener noreferrer">
                <Icon name="soundcloud" class="text-2xl mx-5" />
            </a>
        </div>
    </div>
    <div class="flex-1 flex justify-center md:justify-end mt-5 md:mt-0">
        <a href="mailto:fiveofakindbrass@gmail.com">fiveofakindbrass@gmail.com</a>
    </div>
</div>